 
.email-details-root {
  padding: 20px;
}
.email-details-root .account {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  float: none;
  margin: 0 16px;
  min-width: 40px;
}
.subject {
  grid-area: header;

}
.email-details-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
.email-body {
    margin-top:20px
}
.avatar {
  grid-area: avatar
}