.nav-bar {
  grid-area: navBar;
}
.content-container {
  grid-area: siteContent;
  overflow-y: auto; 
  padding: 8px;
}
/* GRIDS */
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
}
.main-layout-grid {
  height: 100vh;
  margin: 5px;
  column-gap: 24px;
  grid-template-columns: 15.5rem minmax(0, 1fr);
  display: grid;
  grid-template-rows: max-content;
  grid-template-areas:
    "header header"
    "navBar siteContent";
}
.table-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
.table-grid-row {
  grid-template-columns: minmax(auto, 1fr) minmax(200px, auto) minmax(auto, 1fr) minmax(
      6rem,
      10em
    );
  display: grid;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  gap: 20px;
}


.email-preview-grid {
  display: grid;
  grid-template-areas:
    ". header"
    "avatar content";
    grid-template-rows: max-content;
  grid-template-columns: 3rem 1fr;
  gap: 6px;
  row-gap: 1em;
}
