.container {
}
.nav-bar {
  grid-area: navBar;
}
.content-container {
  grid-area: siteContent;
  padding: 8px;
}
/* GRIDS */
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
}
.main-layout-grid {
  column-gap: 24px;
  grid-template: min-content 1fr min-content / 12.25rem minmax(0, 1fr);
  grid-template-columns: 15.5rem minmax(0, 1fr);
  display: grid;
  grid-template-areas:
    "header header"
    "navBar siteContent";
}
.table-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
}
.table-grid-row {
    grid-template-columns: minmax(auto, 1fr) minmax(200px, auto) minmax(auto, 1fr) minmax(6rem, 10em);
    display: grid;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 20px;
}
.table-grid-row input{
  margin: 0 10px 0 13px;
}
.table-grid-row svg {
  margin: 0 10px 0 0;
}
