.nav-item {
  padding-left: 20px;
  height: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}
.nav-item:hover {
  background-color: rgba(32, 33, 36, 0.059);
}
.active {
  background-color: #d3e3fd !important;
  color: black !important;
}
.nav-bar-compose-root {
  
  padding-left: 6px;
  margin-bottom: 10px;
  display: flex;
}

.unread-emails {
  margin-left: auto;
  margin-right: 10px;
}
