.avatar-root {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: #004d40;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1.1em;
    color: white;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}