.nav-bar-compose-root {
  align-items: center;
  display: flex;
  text-align: center;
}
.nav-bar-compose-root svg {
  margin-right: 10px;
  font-size: 24px;
}
.nav-bar-compose-root button {
  background-color: #c3e7fe;
  padding: 20px;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 600;
}
