.emails-list-root {
  display: flex;
  flex-direction: column;
}

.email-preview {
  display: grid;
  grid-template-columns: 200px minmax(60px, 1fr) auto;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(100, 121, 143, 0.122);
  padding: 12px 10px;
  position: relative;
}

.email-preview:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

.email-preview-read {
  background-color: #f7f8fc;
}

.email-preview-unread > * {
  font-weight: 600;
}

.row-left,
.row-center,
.row-right {
  display: flex;
  align-items: center;
}
.row-left-star {
  margin: 0 10px;
}
.row-center-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  color: #607d8b;
  font-weight: 400;
}

.actions-icons {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.email-preview:hover .actions-icons {
  display: flex;
}

.email-preview:hover .row-right {
  opacity: 0;
}
.mail-typography {
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: normal;
}
.mail-typography span {
  color: #5f6368;
  font-weight: normal;
}
