.icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: visible; 
  }
  
  .icon-button::before {
    content: "";
    position: absolute;
    left: -20%; 
    top: -20%;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  
  .icon-button:hover {
    background-color: rgba(32, 33, 36, 0.059); 
  }
  
  .icon-button:hover svg {
    transform: scale(1.1);
  }
  