.search-root {
  width: 100%;
  max-width: 695px;
  min-width: 300px;
  position: relative;
}
.search-input {
  border: none;
  padding: 0px;
  margin: 0px;
  height: auto;
  background: #ebf1fb;
  z-index: 6;
  left: 0px;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
}
.search-input:focus {
  background-color: white;
}
.advanced-search-icon {
  position: absolute !important;
  right: 0;
}
.advanced-search-form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px !important;
  overflow: hidden;
  padding: 20px;
}
.advanced-search-form form {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 40px;
  align-items: end;
}

.advanced-search-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #5f6368;
  font-size: 14px;
}

.advanced-search-form input,
.advanced-search-form select {
  border: none !important;
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
  box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
  height: 20px;
  margin: 0 !important;
  max-width: none;
  padding: 0;
  width: 100%;
}

.advanced-search-form button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  letter-spacing: normal;
  background: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #444746;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  min-width: 80px;
  outline: none;
  padding: 0 16px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.advanced-search-form button:hover {
  filter: brightness(120%);
}

  .advanced-search-form input:focus,
  .advanced-search-form select:focus {
    border-bottom-color: #80bdff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    outline: 0;
  }

@media (max-width: 600px) {
  .advanced-search-form form {
    grid-template-columns: 1fr;
  }
  .advanced-search-form button {
    grid-column: span 1;
  }
}
